.header{
    height: 15vh;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 0px var(--dark);
    padding: 12px;
    justify-content: space-between;
    margin: 1px;
}

.titleWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
}

.titleWrapper > h1 {
    font-size: 2.2rem;
}

.btnWrapper{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.addBtn{
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap:8px;
    background-color: inherit;
}
