.header{
    height: 15vh;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 0px var(--dark);
    padding: 12px 0;
    justify-content: space-between;
    margin: 1px;
}

.titleWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
}

.titleWrapper > h1 {
    font-size: 2.2rem;
}


.addBtn{
    cursor: pointer;
    border: none;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 12px;
    height: 10vh;
    color: var(--light);
    font-weight: bold;
    background-color: var(--primary);
    box-shadow: 0 5px 3px var(--dark);
    font-size: 1.1rem;
    user-select: none;
}

.addBtn:active{
    box-shadow: 0 0 3px var(--dark);
    transform: translateY(3px);
}
